.esconder{
    display: none;
}

body {
    background-color: #f2f2f2;
}
@font-face {
    font-family: bitfont;
    src: local('bitfont.ttf'), url('fonts/bitfont.ttf');
}

@font-face {
    font-family: oswald-medium;
    src: local('Oswald-Medium.ttf'), url('fonts/Oswald/Oswald-Medium.ttf');
}

#fotos_topo {
    display: block!important;
}


.fontebranca{
    color:#fff!important;
}

/* Bottom right text */
.bottom-right {
    position: absolute;
    bottom: 8px;
    left: 0px;
    background-color: rgba(0,0,0,0.5);
}
/* NAVBAR */

.logo {
    width: 120px;
    height: 50px;
}
.bg-nav {
    background-color: #1a1a1a;
}

nav div div ul li a {
    color: #b9b9bb;
}

nav div div ul li a:hover {
    color: #fff;
}

.custom-toggler.navbar-toggler {
    border-color: rgb(252, 252, 252);
}
.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(252, 252, 252, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/* BARRA DE PESQUISA */
.container1{
  width: 0px;
  height: 40px;
  background: #1a1a1a;
  text-align: center;
  line-height: 45px;
  padding-right: 50px;
  transition: all 0.5s ease;
  border-radius: 5px;
  position: relative;
  box-shadow: 0 0 5px rgba(255,255,255,0.5);
}

.input{
  border: 0px;
  background: transparent;
  width: 0%;
  padding: 0px 0;
  outline: none;
  color: #fff;
  font-weight: bold;
  transition: all 0.3s ease;
}

.container1 .fa{
  color: #ffffff;
  position: absolute;
  right: 15px;
  top: 10px;
  font-size: 22px;
  cursor: pointer;
}

.container1.active{
  width: 250px;
  padding-left: 25px;
  transition: all 0.5s ease;
}

.input.active{
  width: 98%;
  padding-left: 5px;
  transition: all 0.5s 0.8s ease;
}

input::placeholder {
  color: #fff;
}

/* SECÃO SLIDES */

#slides a  {
    color: #fff!important;
    text-decoration: none;
}
.carousel-inner{
    width:100%;
    max-height: 550px!important;
}

.carousel-item , .teste{
    width:100%;
    max-height: 550px!important;
}

.tituloslide {
    background-color: rgba(0,0,0,0.7);
    padding: 10px;
    word-wrap: break-word;
    font-family: oswald-medium;
}


.fotocarousel {
    max-height: 519px!important;
}  
.corsecaoslides {
    background-color: #2859cd;
}

#maisacessadas h5 {
    font-family: oswald-medium;
}

/* POSTAGENS */

.icone_visualizacao {
    position: absolute;
    bottom : -10px;
    right : 5px;
}
.icone_comentarios {
    position: absolute;
    bottom : -10px;
    right : 70px;
}

#postagens h1 {
    font-family: oswald-medium;
}

#postagens h3 {
    font-family: oswald-medium;
}
#postagens {
    margin-top: 20px;
}
.formapostagem {
    border-radius: 5px;
    background-color: #f4f4f4;
    padding-bottom: 6px;
    border-bottom: 5px solid #2859cd;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    box-shadow: 0px 7px 4px #aaaaaa;
    margin-bottom: 50px;
}

#botoespaginacao a {
    color: #b9b9bb;
}

#botoespaginacao a:hover {
    color: #fff;
}

.titulo , .autor {
    font-family: bitfont;
    background-color: #2859cd!important;
    color:#fff;
    border: 2px solid #000;
    border-radius: 10px;
    word-wrap: break-word;
}

#postagem img {
    max-width: 100%!important;
    height:auto!important;
}

#postagem iframe {
    max-width: 100%!important;
    min-height: auto;
}




/* RODAPE */
#rodape {
    margin-top : 20px;
    min-height: 100px;
    background-color: #1a1a1a;
}

#rodape h6 , #rodape ul li {
    color:#b9b9bb;
}

.redessociais {
    text-align: right;
    color:#fff;
}



/* MEDIA QUERIES */

@media (max-width: 768px) { 
    .redessociais{
        text-align: left;
    }

    .tituloslide {
        font-size: 16px;
    }

    .titulo , .autor {
        font-size: 18px;
    }

    #postagens .formapostagem h3 {
        font-size : 20px;
    }
}

@media (max-width: 992px) {
    .visivel {
        display: none!important;
    }
} 




